<% content_for :customer_content do %>
  <h3 class="table-heading"><%= @table_heading %></h3>
  
    <%#= paginate (@equities) %>
    <table id="indexTable" class="table table-striped">
      <thead>
        <tr>
          <th>Equity ID</th>
          <th class="hide-small">Certificate No</th>
          <th class="hide-small hide-medium hide-large">Issue Date</th>
          <th class="hide-small hide-medium">Equity Type</th>
          <th class="hide-small hide-medium">Currency</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
          <%# @equities.each do |equity| %>
          <% for equity in @equities do %>
          <tr>
            <td><%= equity.id %></td>
            <td class="hide-small"><%= equity.certificate_number %></td>
            <td class="hide-large"><%= equity.issue_date %></td>
            <td class="hide-medium"><%= equity.equity_type.name %></td>
            <td class="hide-medium"><%= equity.bill_currency %></td>
            <td><%#= link_to 'Edit', edit_equity_path(equity), :class => "btn btn-default" %></td>
            <td><%= link_to 'Details', customer_equity_path(my_customer,equity), :class => "btn btn-default" %></td>
             <td><%#= link_to 'Risk', edit_risk_path(equity.risk_id), :class => "btn btn-default" %></td>            

          </tr>
          <% end %>
      </tbody>
    </table>
    <%#= paginate (@equities) %>
  <br />
  <%= link_to 'Back', :back, :class => "btn btn-primary formButton"  %>
   <%#= link_to 'Create Risk', new_risk_path, :class => "btn btn-primary formButton"  %>
   
   <br />
    <%#= paginate (@risks) %>
    <table id="indexTable" class="table table-striped">
      <thead>
        <tr>
          <th>Risk ID</th>
          <th class="hide-small">Risk Name</th>
          
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
          <% @risks.each do |risk| %>
          <tr>
            <td><%= risk.id %></td>
            <td class="hide-small"><%= risk.name %>, <%= risk.situation_type %></td>
            
            <td><%#= link_to 'Edit', edit_risk_path(risk), :class => "btn btn-default" %></td>
            <td><%= link_to 'Details', customer_risk_path(my_customer,risk), :class => "btn btn-default" %></td>
             <td><%#= link_to 'Add Equity', new_risk_equity_path(risk), :class => "btn btn-default" %></td>            

          </tr>
          <% end %>
      </tbody>
    </table>
    <%#= paginate (@risks) %>
    <br />
  <%= link_to 'Back', :back, :class => "btn btn-primary formButton"  %>
  <br />
<% end %>
