<%= form_for(equity_type) do |f| %>
  <% if equity_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equity_type.errors.count, "error") %> prohibited this equity_type from being saved:</h2>

      <ul>
      <% equity_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
