<main>
<div class="panel" style="margin: 10px; padding: 20px;"> 

<%= bootstrap_form_for(payee) do |fa| %>
  <% if payee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payee.errors.count, "error") %> prohibited this payee from being saved:</h2>

      <ul>
      <% payee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
         <div class="row">
           <div class="col-md-6"><%= fa.text_field :acct_number, :label => "Reciever Bank Account Number", required: true %></div>
           <div class="col-md-6"><%= fa.text_field :ref_name, :label => "Reciever Name" %></div>
         </div>
           <div class="row">
             <div class ="col-md-4">
               <%= fa.text_field :bank_name, :label => "Bank Name", required: true %>
             </div>
             <div class ="col-md-3">
               <%= fa.text_field :routing_number %>
             </div>
             <div class ="col-md-3">
               <%= fa.text_field :swift_code, :label => "SwiftCode" %>
             </div><% if admin? %>
             <div class ="col-md-2 form-group">
               <%= fa.select :payee_type, options_for_select(['Debit', 'Credit']), class:"form-control" %>
             </div><% end %>
           </div>
           <div class="row">
             <div class="col-md-10">
               <%= fa.text_field :address, :label => "Bank Address", required: true %>
             </div>
             <div class="col-md-2">
               <%= fa.text_field :city, required: true %>
             </div>
           </div>
           <div class="row">
             <div class="col-md-2">
               <%= fa.text_field :state, required: true %>
             </div>
             <div class="col-md-2">
               <%= fa.text_field :post_code, required: true %>
             </div>
           
             <div class="col-md-3">
               <%= fa.text_field :country, required: true %>
             </div>
             <div class="col-md-3">
               <%= fa.text_field :phone,:label => "Sender Phone" %>
             </div>
           </div>
           
           
           
           
           
           
           
           
  <div class="actions">
    <%= fa.submit %>
  </div>
<% end %>

  </div>
</main>
