<!DOCTYPE html>
<html>
<head>
	<title>Witco Financial Services</title>
  	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta charset="utf-8">
	<%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
</head>
<body onload="set_style_from_cookie()">
	<!-- render main navigation partial -->
	<%= render 'navigation' %>
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
	<div id='content'>
		<!-- dynamically render page content -->
		<%= yield %>
	</div>
	<!-- render footer partial -->
	<%= render 'footer' %>
</body>
</html>
